{% extends 'base.html' %}
{% block content %}
<div class="card p-4 col-md-6 mx-auto shadow-sm">
    <h3 class="mb-4">Регистрация аккаунта</h3>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <label class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="text-danger small">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success w-100 mt-2">Зарегистрироваться</button>
    </form>
</div>
{% endblock %}
